.pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;
}

.pokemon {
  border: rgb(54, 54, 54) solid 1px;
  border-radius: 5px;
  padding: 5px;
  width: 140px;
  height: 180px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  box-shadow: 1px 10px 5px 1px rgba(0, 0, 255, 0.2);
}

.pokemonImage {
  height: 120px;
  width: 100px;
}
.pokemon:hover {
  transform: scale(1.08);
}

.pokemonName {
  border: solid 1px rgb(54, 54, 54);
  padding: 5px 15px;
  background-color: black;
  color: whitesmoke;
  opacity: 0.7;
  border-radius: 5px;
}

/* #pokemonDetail {
  width: 90vw;
  height: 90vh;
  background-color: whitesmoke;
  display: none;
} */

.searchForm {
  width: 450px;
  margin: 15px auto;
}

#searchBar {
  width: 100%;
  padding: 5px;
}

body {
  background-image: url("./assets/images/bg-detail.png");
  height: 100vh;
  /* minwidth: 100vw; */
  /* background-repeat: no-repeat; */
  object-fit: cover;
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.detailContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.pokemonDetail {
  border: solid 1px rgb(54, 54, 54);
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.pokemonDetail > img {
  max-width: 100px;
  margin: 0 auto;
}

.closeButton {
  padding: 5px 10px;
  cursor: pointer;
}

li {
  list-style: none;
}
